.Global-wrapper {
    background-color: #eaeaea;
    margin: 0 0 60px 0;
}

.Global-content {
    max-width: 400px;
    min-height: calc(100vh - 60px); /* margin of global wrapper to take into account bottom navigation */
    margin: 0 auto;
    background-color: #f9f9fb;
}